[submodule "native/rnoh/src/main/cpp/folly"]
	path = react-native-harmony/harmony/cpp/third-party/folly
	url = https://github.com/facebook/folly
[submodule "native/rnoh/src/main/cpp/fmt"]
	path = react-native-harmony/harmony/cpp/third-party/fmt
	url = https://github.com/fmtlib/fmt
[submodule "native/rnoh/src/main/cpp/third-party/hermes"]
	path = react-native-harmony/harmony/cpp/third-party/hermes
	url = https://github.com/facebook/hermes
[submodule "native/rnoh/src/main/cpp/third-party/boost"]
	path = react-native-harmony/harmony/cpp/third-party/boost
	url = https://github.com/boostorg/boost.git
[submodule "native/rnoh/src/main/cpp/third-party/libevent-sub"]
	path = react-native-harmony/harmony/cpp/third-party/libevent
	url = https://github.com/libevent/libevent
